In [1]:
print('Inteligência Artificial')

Inteligência Artificial

In [ ]:
pip install pandas

In [3]:
import pandas as pd

In [9]:
# Cria o Dicionario
Dicionario = {
    "A":[1,2,3,4],
    "B":[5,6,7,8],
    "C":[9,10,11,12]
}
Labels = ["1ª linha", "2ª linha", "3ª linha", "4ª linha",]

In [10]:
dados = pd.DataFrame(Dicionario, index = Labels) # Cria o Dataframe

In [ ]:
dados.head() # Exibe as 4 primeiras linhas da base de dados

In [ ]:
dados.head(2)

In [ ]:
dados.tail() # Exibe as 4 últimas linhas do Dataframe

In [ ]:
dados.tail(3)

In [ ]:
dados.describe() # Informações estatísticas dos dados

In [ ]:
dados.info() # Descreve informações sobre os dados

In [17]:
dados["D"]=dados["B"]*dados["C"] # Multiplicação das colunas do DF

In [ ]:
dados.head()

In [ ]:
dados.drop("B",axis=1) # Exclui a coluna B dessa variavel

In [ ]:
dados.drop("B",axis=1,inplace=True) # Exclui a coluna B da BASE DE DADOS ORIGINAL

In [ ]:
dados.loc["3ª linha"] # Localiza uma linha

In [ ]:
dados.loc[["3ª linha", "2ª linha"],["A","C"]] # Busca mais de uma linha e coluna no DF

In [ ]:
dados.iloc[0:2] # iloc busca pelo indice da posição

In [25]:
dados.iloc[0:2,0:2] # busca pela linha e coluna

          A  B
1ª linha  1  5
2ª linha  2  6

In [26]:
dados["A"]>0

1ª linha    True
2ª linha    True
3ª linha    True
4ª linha    True
Name: A, dtype: bool

In [27]:
Filtro = dados["A"]>0 # Armazena o resultado na variavel Filtro

In [28]:
Filtro

1ª linha    True
2ª linha    True
3ª linha    True
4ª linha    True
Name: A, dtype: bool

In [29]:
dados["Filtro"] = Filtro # Armazena o filtro nessa base de dados

In [30]:
dados.head()

          A  B   C   D  Filtro
1ª linha  1  5   9  45    True
2ª linha  2  6  10  60    True
3ª linha  3  7  11  77    True
4ª linha  4  8  12  96    True

In [31]:
dados[(dados["A"]>2)& (dados["C"]>2)] # Filtro na coluna A e C

          A  B   C   D  Filtro
3ª linha  3  7  11  77    True
4ª linha  4  8  12  96    True

In [32]:
dados.reset_index()

      index  A  B   C   D  Filtro
0  1ª linha  1  5   9  45    True
1  2ª linha  2  6  10  60    True
2  3ª linha  3  7  11  77    True
3  4ª linha  4  8  12  96    True

In [33]:
dados.set_index("C") # Altera o index do dataframe

    A  B   D  Filtro
C
9   1  5  45    True
10  2  6  60    True
11  3  7  77    True
12  4  8  96    True

In [37]:
Dicionario_1 = {
    'A':[10,20,30,40],
    'B':[50,60,70,80],
    'C':[90,100,110,120],
    'Chaves':['AA','BB','CC','DD']
}
Dicionario_2 = {
    'A':[5,10,15,20],
    'B':[35,70,105,140],
    'C':[100,200,300,400],
    'Chaves':['AA','BB','CC','DD']
}
Dicionario_3 = {
    'A':[-10,-20,-30,-40],
    'B':[25,50,75,100],
    'C':[90,100,110,120],
    'Chaves':['AA','BB','CC','DD']
}
Labels_1=['1ª linha', '2ª linha', '3ª linha', '4ª linha']
Labels_2=['5ª linha', '6ª linha', '7ª linha', '8ª linha']
Labels_3=['9ª linha', '10ª linha', '11ª linha', '12ª linha']

In [38]:
df1 = pd.DataFrame(Dicionario_1,index=Labels_1)
df2 = pd.DataFrame(Dicionario_2,index=Labels_2)
df3 = pd.DataFrame(Dicionario_3,index=Labels_3)

In [39]:
dados_df = pd.concat([df1,df2,df3]) # Junta os dataframes desde que todos tenham a mesma estrutura

In [ ]:
dados_df.head(10) # xibe o dataframe unificado

In [45]:
df_n = pd.merge(df1,df2,how='inner',on='Chaves') # Une o dataframe a partir da semelhança das chaves nas colunas

In [44]:
df_n.head()

   A_x  B_x  C_x Chaves  A_y  B_y  C_y
0   10   50   90     AA    5   35  100
1   20   60  100     BB   10   70  200
2   30   70  110     CC   15  105  300
3   40   80  120     DD   20  140  400

In [46]:
df_1 = pd.merge(df1,df2,how='left',on='Chaves') # Une o dataframe a partir da semelhança das chaves nas colunas

In [47]:
df_1.head()

   A_x  B_x  C_x Chaves  A_y  B_y  C_y
0   10   50   90     AA    5   35  100
1   20   60  100     BB   10   70  200
2   30   70  110     CC   15  105  300
3   40   80  120     DD   20  140  400

In [53]:
Dicionario_1 = {
    'A':[10,20,30,40],
    'B':[50,60,70,80],
    'C':[90,100,110,120],
}
Dicionario_3 = {
    'D':[30,20,50,40],
    'E':[1,2,3,4],
    'F':[7,8,9,10],
}
Labels_n = ['1ª linha', '2ª linha', '3ª linha', '4ª linha']

In [54]:
Dataframe1 = pd.DataFrame(Dicionario_1,index=Labels_n)
Dataframe3 = pd.DataFrame(Dicionario_3,index=Labels_n)

In [55]:
Dataframe1.join(Dataframe3)

           A   B    C   D  E   F
1ª linha  10  50   90  30  1   7
2ª linha  20  60  100  20  2   8
3ª linha  30  70  110  50  3   9
4ª linha  40  80  120  40  4  10